<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddt.core.mapper.UserMapper">
    
    <sql id="user_base_column">
          user_id	id
        , user_name	userName
        , password	password
        , wx_number	wxName
        , mobile	mobile
    </sql>
    
    <select id="getUserByName" resultType="User" parameterType="string">
        SELECT
        <include refid="user_base_column"/>
        FROM	ddt_user
        WHERE	user_name = #{username}
    </select>
    
    <insert id="insertUser" parameterType="User"></insert>
    
    <select id="getUserByOrderId" parameterType="java.util.Map" resultType="User">
        SELECT	  b.id	id
        		, b.wx_name	wxName
        		, b.wx_number	wxNumber
        FROM	  wxg_order	a
        		, wxg_user b
        WHERE	a.user_id = b.id
        		AND a.id = #{orderId}
    </select>
    
    <select id="getUserRoles" parameterType="java.util.Map" resultType="Role">
        SELECT	  a.id	id
        		, a.name	name
        FROM	  ddt_role a
        		, ddt_user_role b
        WHERE	a.id = b.role_id
        		AND b.user_id = #{id}
    </select>
</mapper>