.form{
    width: 600px;
    margin: 0 auto;
    height: 400px;
    border: 1px solid #dedede;
    margin-top: 40px;
    margin-bottom: 40px;
}
.fixform{
    width: 360px;
    margin: 0 auto;
    margin-top: 30px;
}
.fixform fieldset{
    border: 0;

}
.fixform legend{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #6c3;
    margin-bottom: 10px;
}
.fixform .current{
    height: 30px;
    font-size: 14px;
    color: #333;
}
.fixform .current p{
    float: left;
    margin-left: 22px;
}
.fixform .old_name{
    height: 30px;
    width: 258px;
    display: inline-block;
    margin-bottom: 10px;
}
.fixform input{
    height: 30px;
    width: 258px;
    line-height: 30px;
    text-align: left;
    border: 1px solid #dedede;
    border-radius: 2px;
    margin-bottom: 10px;
}
.fixform span{
    display: inline-block;
    height: 30px;
    width: 85px;
    font-size: 14px;
    color: #333;
}
.btns{
    height: 32px;
    margin-left: 100px;
}
.save,.close{
    width: 80px;
    height: 30px;
    float: left;
}

.save{
    margin-right: 40px;
}
.submit, .close_btn{
    display: block;
    height: 27px;
    width: 80px;
    
    border: 1px solid #d9d9d9;
}
.close_btn span{
    width: 80px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 2px;
    background: #f2f2f2;    
    border: 1px solid #fff;
}
.submit span{
    width: 80px;
    height: 25px;
    line-height: 25px;
    letter-spacing: 2px;
    background: #6c3;
    color: #fff;
    border: 1px solid #fff;

}

.file-box{ position:relative;width:340px}
.txt{ height:22px; border:1px solid #cdcdcd; width:180px;}
.btn{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;}
.file{ position:absolute; top:0; right:80px; height:24px; filter:alpha(opacity:0);opacity: 0;width:260px }